---
layout: page
title: DSG News
---
<div id="dsg_news" class="container">
	{% for post in site.posts %}
		<article class="row text-center" style="background-image: url('{{post.thumb}}')">
			<div class="info col-md-8 col-md-offset-2">
				<p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
				<h1 class="title">{{ post.title }}</h1>
				<h4 class="author">
					by
					{% for member in site.team %}
						{% for author in post.authors %}
							{% if member.alias == author %}
								{% if has_author %}, {% endif %}
								{% assign has_author = true %}
								{{ member.title }}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</h4>
				<p class="text-left">{{ post.excerpt }}</p>
				<a class="btn btn-primary"
					href="{{ site.baseurl }}{{ post.url }}">
					Read More
				</a>
			</div>
		</article>
	{% endfor %}
</div>
