---
layout: page
title: DSG Projects
---
<div id="dsg_news" class="container">
	<h1>DSG Projects</h1>
	<p>Projects created by DSG Members in the lab.</p>
	{% for project in site.projects %}
		{% if project.type == 'dsg_project' %}
			<div class="row dsg_project">
				<div class="col-md-10">
					<h2>{{project.title}}</h2>
					<p>{{project.excerpt}}</p>
				</div>
				<div class="col-md-2">
					<a class="btn btn-primary btn-button" role="button"
						href="{{ site.url }}{{ project.url }}">
						More
					</a>
					{% if project.repo %}
						<a class="btn btn-warning btn-button" role="button"
							href="{{ project.repo }}">
							Repo
						</a>
					{% endif %}
					{% if project.website %}
						<a class="btn btn-success btn-button" role="button"
							href="{{ project.website }}">
							Repo
						</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<h1>Event Projects</h1>
	<p>
		Projects created by DSG Members in various events the DSG Team took
		part.
	</p>
	{% for project in site.projects %}
		{% if project.type == 'event' %}
			{{project.title}}<br />
		{% endif %}
	{% endfor %}
	<h1>Theses</h1>
	<p>
		Theses and papers of various students, not necessarily DSG members.
	</p>
	{% for project in site.projects %}
		{% if project.type == 'thesis' %}
			{{project.title}}<br />
		{% endif %}
	{% endfor %}
</div>
