---
layout: page
title: DSG Projects
permalink: /projects/new
---
<div id="dsg_projects" class="container">
	<h1>Team Projects</h1>
	<p>Projects created by DSG Members in the lab.</p>
	<div class="row">
		{% for project in site.projects %}
			<div class="col-md-2 col-sm-4 col-xs-6 project-new">
				{% if project.status == 'active' %}
					<div class="text-center status active">
						Active
					</div>
				{% else if project.status == 'completed' %}
					<div class="text-center status completed">
						Completed
					</div>
				{% else if project.status == 'canceled'  %}
					<div class="text-center status canceled">
						Canceled
					</div>
				{% endif%}
				<div class="thumb"
					{% if project.thumb %}
						style="background-image:url('{{project.thumb}}')"
					{% else %}
						style="background-image:url('{{ site.baseurl }}/images/dsg_social.jpg')"
					{% endif %}
				>
				</div>
				<div class="info">
					<h2>{{ project.title }}</h2>
					{{ project.excerpt }}
				</div>
				<div class="buttons">
					<a class="btn btn-danger btn-block btn-xs"
						href="{{ site.url }}{{ project.url }}">
						More
					</a>
					{% if project.repo %}
						<a class="btn btn-warning btn-block btn-xs" role="button"
							href="{{ project.repo }}">
							Repo
						</a>
					{% endif %}
					{% if project.website %}
						<a class="btn btn-success btn-block btn-xs" role="button"
							href="{{ project.website }}">
							Website
						</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
