---
---

@import "variables";
@import "bootstrap";
@import "bootswatch";

.container-fluid{
  padding: 0px;
}
#dsg_header{
	background-color: rgba(0, 140, 186, 1);
	background-image: url('images/header.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
