---
---

@import "variables";
@import "font-awesome/font-awesome";
@import "bootstrap";
@import "bootswatch";

.container-fluid{
	padding: 0px;
}
#dsg_header{
	background-color: rgba(0, 140, 186, 1);
	background-image: url('images/header.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
#dsg_info{
	#discover_projects{
		background-image: url('images/discover_projects.jpg');
	}
	.dsg_box{
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(200, 200, 200, 1);
		padding: 20px 40px 45px 40px;
		font-size: 18px;
		margin-bottom: 40px;
		h2{
			font-weight: 700;
			font-size: 25px;
		}
	}
	#meet_the_team{
		background-image: url('images/meet_the_team.jpg');
	}
	#whats_new{
		background-image: url('images/whats_new.jpg');
	}
}
#dsg_nav{
		.navbar{
		border-radius: 0px;
		margin-bottom: 0px;
	}
}
#dsg_social{
	font-size: 22px;
	.btn-fb{
		background-color: rgba(59, 89, 152, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-fb:hover{
		background-color: rgba(89, 119, 182, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-gplus{
		background-color: rgba(221, 70, 59, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-gplus:hover{
		background-color: rgba(251, 100, 89, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-gtb{
		background-color: rgba(35, 35, 35, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-gtb:hover{
		background-color: rgba(65, 65, 65, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-yt{
		background-color: rgba(230, 33, 23, 1);
		color: rgba(230, 230, 230, 1);
	}
	.btn-yt:hover{
		background-color: rgba(255, 63, 53, 1);
		color: rgba(230, 230, 230, 1);
	}
}
#dsg_welcome{
	background-color: rgba(35, 35, 35, 1);
	font-size: 18px;
	color: rgba(200, 200, 200, 1);
	padding-bottom: 20px;
	.container{
		padding-left: 60px;
		padding-right: 60px;
	}
	h1{
		font-weight: 700;
		font-size: 35px;
	}
}
footer{
	margin-top: 40px;
	.logo{
		height: 64px;
		width: auto;
		opacity: 0.3;
	}
	.logo:hover{
		opacity: 0.8;
	}
}
