<div id="dsg_nav" class="container-fluid">
	<div id="dsg_header">
		<div class="container">
			<img class="center-block img-responsive"
			src="{{ site.baseurl }}/images/home_banner.png">
		</div>
	</div>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#dsg_navbar_collapse"
					aria-expanded="false">

					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="dsg_navbar_collapse">
				<ul class="nav navbar-nav">
					<li {% if site.url == '/' %} class="active" {% endif %}>
						<a href="{{ site.baseurl }}">Home</a>
					</li>
					<li {% if site.url == '/news' %} class="active" {% endif %}>
						<a href="{{ site.baseurl }}/news">News</a>
					</li>
					<li {% if site.url == '/projects' %} class="active" {% endif %}>
						<a href="{{ site.baseurl }}/projects">Projects</a>
					</li>
					<li {% if site.url == '/team' %} class="active" {% endif %}>
						<a href="{{ site.baseurl }}/team">Team</a>
					</li>
					<li {% if site.url == '/contact' %} class="active" {% endif %}>
						<a href="{{ site.baseurl }}/contact">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://www.teiste.gr/">University</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>
