---
layout: public
---
<div id="dsg_page_head" class="container-fluid">
	<div class="container">
		<h1>DSG Team</h1>
	</div>
</div>
<div id="{{ page.url }}" class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
			<img class="img-responsive" alt="avatar"
				src="
					{% if page.avatar %}
						{{ page.avatar }}
					{% else %}
						{{ site.baseurl }}/images/dsg_social.jpg
					{% endif %}
				"/>
		</div>
		<div class="col-xs-6 col-sm-8 col-md-8 col-lg-4">
			<h2>{{ page.title }}</h2>
			{% if page.nickname %}
				<h4>a.k.a {{ page.nickname}}</h4>
			{% endif %}
				<h5><strong>Department:</strong>{{page.department}}</h5>
			{% if page.bio %}
				<h4>{{ page.bio}}</h4>
			{% endif %}
			<p>
				{% if page.email %}
					<span>
						<strong>E-mail:</strong>
						<a href="mailto:{{page.email}}">{{page.email}}</a>
					</span>
				{% endif %}
				{% if page.website %}
					<br />
					<span>
						<strong>Website:</strong>
						<a href="{{page.website}}">{{page.website}}</a>
					</span>
				{% endif %}
			</p>
			<ul id="dsg_social_list">
				{% if page.facebook %}
					<li><a href="{{ page.facebook }}">
						<i class="fa fa-facebook-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.twitter %}
					<li><a href="{{ page.twitter }}">
						<i class="fa fa-twitter-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.linkedin %}
					<li><a href="{{ page.linkedin }}">
						<i class="fa fa-linkedin-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.github %}
					<li><a href="{{ page.github }}">
						<i class="fa fa-github-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.gitlab %}
					<li><a href="{{ page.gitlab }}">
						<i class="fa fa-gitlab" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.stackoverflow %}
					<li><a href="{{ page.stackoverflow }}">
						<i class="fa fa-stack-overflow" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.googleplus %}
					<li><a href="{{ page.googleplus }}">
						<i class="fa fa-google-plus-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.youtube %}
					<li><a href="{{ page.youtube }}">
						<i class="fa fa-youtube-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.behance %}
					<li><a href="{{ page.behance }}">
						<i class="fa fa-behance-square" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.instagram %}
					<li><a href="{{ page.instagram }}">
						<i class="fa fa-instagram" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
				{% if page.flickr %}
					<li><a href="{{ page.flickr }}">
						<i class="fa fa-flickr" aria-hidden="true">
						</i>
					</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div id="dsg_member_projects" class="col-sm-6">
			{% if page.projects %}
				<h1>Projects</h1>
				<div class="wrapper_600">
					{% for site_project in site.projects %}
						{% for member_project in page.projects %}
							{% if site_project.alias == member_project %}
								<div class="project">
									<h3>{{site_project.title}}</h3>
									<p>{{site_project.excerpt}}</p>
									<a class="btn btn-xs btn-primary" role="button"
										href="{{ site.url }}{{ site_project.url }}">
										More
									</a>
									{% if site_project.repo %}
										<a class="btn btn-xs btn-warning" role="button"
											href="{{ site_project.repo }}">
											Repo
										</a>
									{% endif %}
									{% if site_project.website %}
										<a class="btn btn-xs btn-success" role="button"
											href="{{ site_project.website }}">
											Website
										</a>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<div id="dsg_member_posts" class="col-sm-6">
			<h1>Posts</h1>
			<div class="wrapper_600">
				{% for post in site.posts %}
					{% for author in post.authors %}
						{% if author == page.alias %}
						<div class="post">
							<h3>{{post.title}}</h3>
							<p>{{post.excerpt}}</p>
							<a class="btn btn-xs btn-primary" role="button"
								href="{{ site.url }}{{ post.url }}">
								Read More
							</a>
						</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% include disqus.html %}
