---
layout: public
---
<div id="{{ page.url }}" class="container">
	<article id="dsg_post" class="row">
		<img class="img-responsive" src="{{ page.thumb }}" alt="post thumb" />
		<div class="col-md-10 col-md-offset-1">
			<h1 class="title">{{ page.title }}</h1>
			{{ content }}
			<div class="info">
				Written on {{ page.date | date: "%B %e, %Y" }},
				by {{ page.author }}
			</div>
			<div id="dsg_tags" class="row text-muted">
				<div class="col-md-10 col-md-offset-1">
					<span>Tags</span><br />
					{% for tag in page.tags %}
						{{ tag }},
					{% endfor %}
				</div>
			</div>
		</div>
	</article>
	<div id="dsg_comments" class="row">
		{% include disqus.html %}
	</div>
</div>
