---
layout: public
---
<div id="dsg_page_head" class="container-fluid">
	<div class="container">
		<h1>DSG Projects: {{ page.title }}</h1>
	</div>
</div>
<div id="{{ page.url }}" class="container">
	{% if page.thumb %}
		<div id="dsg_thumb" class="row">
			<div class="col-md-8 col-md-offset-2">
				<img class="img-responsive" src="{{ page.thumb }}" alt="thumb"/>
			</div>
		</div>
	{% endif %}
	<div id="dsg_project" class="row">
		{{ content }}
	</div>
	{% if page.images %}
		<div class="row">
			<h1 class="text-center">Project Images</h1>
		</div>
		<div class="row">
			{% for image in page.images %}
				<a data-toggle="modal" data-target="#{{image}}">
					<div class="col-md-3"
						style="background-image:url('https://imgur.com/{{image}}')">
					</div>
				</a>
				<div class="modal fade" id="{{image}}" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<img src="https://imgur.com/{{image}}"
									alt="{{image}}" />
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if page.videos %}
		<div class="row">
			<h1>Project Videos</h1>
		</div>
		<div class="row">
			{% for video in page.videos %}
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" allowfullscreen
						src="https://www.youtube.com/embed/{{video}}" ></iframe>
				</div>
			</div>
			{% endfor %}
		</div>
	{% endif %}
	<div id="dsg_project_members" class="row">
		<h2 class="title">Project Members</h2>
		{% for project_member in page.members %}
			{% for site_member in site.team %}
				{% if site_member.alias == project_member %}
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 member">
						<div class="avatar"
							{% if site_member.avatar %}
								style="background-image:url('{{ site_member.avatar }}');"
							{% else %}
								style="background-image:url('{{ site.baseurl }}/images/dsg_social.jpg')"
							{% endif %}
						></div>
						<div class="info">
							<h3 class="hidden-xs hidden-sm hidden-md"
								style="font-size:14px;">
								{{ site_member.title }}
							</h3>
							<h3 class="hidden-xs hidden-sm hidden-lg"
								style="font-size:19px;">
								{{ site_member.title }}
							</h3>
							<h3 class="hidden-xs hidden-md hidden-lg"
								style="font-size:19px;">
								{{ site_member.title }}
							</h3>
							<h3 class="hidden-sm hidden-md hidden-lg"
								style="font-size:26px;">
								{{ site_member.title }}
							</h3>
							<a class="btn btn-primary btn-xs btn-block"
								href="{{ site.url }}{{ site_member.url }}">
								Profile
							</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>
{% include disqus.html %}
